#abbrevBox{
display: none;
}

.abbrevContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.abbrevContainerInner{
  margin: 2vw 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  font-family: "Arial";
  width: 100%;
}