#atsBox {
display: none;
font-family: "arial";
}


#atsBoxForm {

display: grid;
grid-template-columns: repeat(3,1fr);
grid-row-gap: 1vw;
grid-column-gap: 2vw;
width: 100%;

}

#atsBoxForm input,
#atsBox select{
  height: 3rem;
  font-size: 1rem;
  width: 100%;
}

#atsBoxForm input[type=date],
#atsBox select{
  border: none;
}

#fulltext{
  grid-column: 2 / span 2;
}


.annotation{
  display: flex;
  align-items: center;

}

#fsIframeContainer {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 0 5rem 0;
 background-image: url("../Assets/Swiss\ Air\ Force\ 1.jpg");
background-position: center;
background-repeat: norepeat;
background-size: cover;
}
#fsIframeContainer p{
padding: 1rem;
background: rgba(0,0,0,0.5);
color: white;
border-radius: 25px;
}

#fsIframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
background: white;
}
.FScontainer{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 10%;
    margin: 0 0 2rem 0;
    width: 100%;
}