#doctoolBox {
	display: none;
    font-family: arial;
}

.halpText {
	background: lightblue;
	width: 90%;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	display: none;
}

.docContent {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	height: 100vh;
}

.queryContainer {
	width: 100%;
	height: 100%;
	position: relative;
    margin: 0 10% 0 0;
}

.containerTitle{
	margin: 1rem 0 1rem 0;
	text-align: center;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 600;
}

#queryFK {
	width: 90%;
	margin: 0 0 1rem 0;
}

.screeningContainer {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
}

.pageDisplay{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	box-shadow: 2px -2px 5px 1px darkgrey;
	padding: 0 0 2.5% 0;
}



.pageDisplayRow, .pageDisplayTitleRow{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0;
}

#thScreen {
	width: 55%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#thPages {
	width: 10%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#thCopy {
	width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FKresultsTable{
	width: 100%;
	font-family: monospace;
	font-size: 1.2rem;
    border: none;
}

#FKresultsTable tr{
	height: 2ch;
}

#FKresultsTable th{
	border: none;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#FKresultsTable td{
	border: none;
}

#FKresultsTable tr:nth-child(even){
	background: rgb(238,238,238);
}

#FKresultsTable tr:nth-child(odd){
	background: rgb(255,255,255);
}

.queryFKresults{
	width: 90%;
	display: flex;
    position: relative;
    padding-bottom: 5em;
}

.tdLabel{
	padding: 0.2rem 0 0.1rem 1rem;
    width: 55%;
}

fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0 0 0;
	flex-wrap: wrap;
	margin: 0 0 0.5rem 0;
	border: none;
}

#fieldsetFKDF {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#fieldsetFKAT {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#fieldsetNTM {
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);

}

#fieldsetDBU {
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

#fieldsetIATA {
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);

}

legend {
	background: white;
}

.inputLegend{
    color: black;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
}

#legendFKDF {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#legendFKAT {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#legendNTM {
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
}

#legendDBU {
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

#legendIATA {
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.textFieldContainer{
    position: relative;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenField{
	min-width: 90%;
	width: 90%;
	max-width: 90%;
	margin: 0 0 0.5rem 0;
	padding: 0 5px 0 0;
	font-size: 1rem;
	height: 1.4rem;
	min-height: 1.4rem;
    resize: vertical;
}

.clearButtonContainer{
    width:10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 0 0.5rem 0;
}

.clearScreeningPages{
    width: 1.5rem;;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: red;
    border: none;
}

.screenAlert {
	color: red;
	background: white;
	width: 100%;
	text-align: center;
	padding: 0.2rem;
}

.buttonCopy{
	width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 0;
}

.copyButtonContainer {
	background: white;
    padding: 0;
    width: 30%;
}

.tdLabel, .pageTD{
    display: flex;
    align-items: center;
    height: 100%;
}

.tdlabel{
	    justify-content: flex-start;
}

.pageTD{
	justify-content: center;
	padding: 0.2rem 0 0.1rem 0;
	text-align: center;
    width: 10%;
}

#tdLabelFKDF{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#tdLabelFKAT{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#tdLabelNTM{
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
}

#tdLabelDBU{
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

#tdLabelIATA{
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

#FKDFtd{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#FKATtd{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

#NTMtd{
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
}

#DBUtd{
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

#IATAtd{
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

#calculatePages {
	margin: 1rem 5% 1.5rem 5%;
	width: 90%;
	height: 2rem;
}

#testHTMLContainer {
	width: 40%;
	height: auto;
	background: white;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.3rem rgba(0,0,0,0.5);
	padding: 1rem;
	z-index: 100;
}

#testHTMLTitle {
	text-align: center;
	margin: 0 0 0.5rem 0;
}

#testHTML {
	width: 100%;
}

#testHTMLClose {
	margin: 1rem 0 0 0;
}
