#doctoolBox {
	display: none;
    font-family: arial;
}

.docContent {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	height: 100vh;
}

.queryContainer {
	width: 100%;
	height: 100%;
	position: relative;
    margin: 0 10% 0 0;
}

.containerTitle{
	margin: 1rem 0 1rem 0;
	text-align: center;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 600;
}

#queryFK {
	width: 90%;
	margin: 0 0 1rem 0;
}

.screeningContainer {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
}

.pageDisplay{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}



.pageDisplayRow, .pageDisplayTitleRow{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 1fr 1fr;
    grid-gap: 1rem;
    height: 3rem;
}

#FKresultsTable tbody *{
	font-family: monospace;
    font-size: 1rem;
}

.queryFKresults{
	width: 90%;
    height: 80dvh;
    overflow-y: scroll;
	display: flex;
    position: relative;
    padding-bottom: 5em;
}

fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0 0 0;
	flex-wrap: wrap;
	margin: 0 0 0.5rem 0;
	border: none;
}

#fieldsetFKDF {
    background-color: var(--color_aurora);
}

#fieldsetFKAT {
    background-color: var(--color_aurora80);
}

#fieldsetNTM {
    background-color: var(--color_aurora60);

}

#fieldsetDBU {
    background-color: var(--color_aurora40);
}

#fieldsetIATA {
    background-color: var(--color_aurora20);

}

legend {
	background: light-dark(var(--color_skygrey10), var(--color_skydarkblue));
}

.inputLegend{
    color: black;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	border-right-width: 5px;
    border-right-style: solid;
    border-right-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
	border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
}

#legendFKDF {
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora), var(--color_aurora));
}

#legendFKAT {
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora80), var(--color_aurora80));
}

#legendNTM {
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora60), var(--color_aurora60));
}

#legendDBU {
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora40), var(--color_aurora40));
}

#legendIATA {
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora20), var(--color_aurora20));
}

.textFieldContainer{
    position: relative;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenField{
	min-width: 90%;
	width: 90%;
	max-width: 90%;
	margin: 0 0 0.5rem 0;
	padding: 0 5px 0 0;
	font-size: 1rem;
	height: 1.4rem;
	min-height: 1.4rem;
    resize: vertical;
}

.clearButtonContainer{
    width:10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 0 0.5rem 0;
}

.clearScreeningPages{
    width: 1.5rem;;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color_redsky);
    border: none;
}

.screenAlert {
	color: var(--color_redsky);
	background: transparent;
	width: 100%;
	text-align: center;
	padding: 0.2rem;
}

.buttonCopy{
	width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 0;
}

.copyButtonContainer {
    padding: 0;
    width: 100%;
}

.tdLabel, .pageTD{
    display: flex;
    align-items: center;
    height: 100%;
}

#thScreen, #thPages, #thCopy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdLabel, #thScreen{
    justify-content: flex-start;
    text-indent: 1rem;
}

.pageTD{
	justify-content: center;
	text-align: center;
}

#tdLabelFKDF{
    color: var(--color_black);
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora), var(--color_aurora));
}

#tdLabelFKAT{
    color: var(--color_black);
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora80), var(--color_aurora80));
}

#tdLabelNTM{
    color: var(--color_black);
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora60), var(--color_aurora60));
}

#tdLabelDBU{
    color: var(--color_black);
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora40), var(--color_aurora40));
}

#tdLabelIATA{
    color: var(--color_black);
    background-color: var(--color_skywhite);
    background-image: linear-gradient(var(--color_aurora20), var(--color_aurora20));
}

#FKDFtd{
    box-sizing: border-box;
    background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
    border: 5px solid var(--color_aurora);
}

#FKATtd{
    box-sizing: border-box;
    background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
    border: 5px solid var(--color_aurora80);
}

#NTMtd{
    box-sizing: border-box;
    background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
    border: 5px solid var(--color_aurora60);
}

#DBUtd{
    box-sizing: border-box;
    background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
    border: 5px solid var(--color_aurora40);
}

#IATAtd{
    box-sizing: border-box;
    background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
    border: 5px solid var(--color_aurora20);
}

#calculatePages {
	margin: 1rem 5% 1.5rem 5%;
	width: 90%;
	height: 2rem;
}

#docVeil{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }

#docModal {
	width: auto;
	height: auto;
	background: light-dark(var(--color_skywhite), var(--color_skydarkblue));
    color: light-dark(var(--color_black), var(--color_skywhite));
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: var(--shadow_modal);
	padding: 1rem;
	z-index: 100;
}

#docModalTitle {
	text-align: center;
    font-weight:bolder;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
	margin: 0 0 2rem 0;
    width: 100%;
    background: light-dark(var(--color_skydarkblue), var(--color_aurora));
    color: var(--skywhite);
}

.even, .odd, .single{
    font-size: 1rem;
    margin: 0 0 1rem 0;
    border: 1px solid var(--color_skyblue);
    padding: 0.5rem;
    width: 100%;
    box-sizing:border-box;
}

#docModalContent {
	width: 100%;
}

#docModalClose {
	margin: 1rem 0 0 0;
}

.selectah{
	background: lime;
}
