#legal {
	width: 100%;
	text-align: center;
}
#legal:hover{
    cursor:pointer;
}

#legalVeil{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
}

#legalA{
	font-family: "Arial";
	position: relative;
	width: 30%;
	height: 80%;
	background-color: light-dark(var(--color_skywhite), var(--color_skydarkblue));
	color: light-dark(var(--color_black), var(--color_skywhite));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 0px 0px 20px 0px black;
	padding: 1rem;
}
#legalB {
	position: relative;
	height: 80%;
	overflow-y: scroll;
}

.legalTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 0 0 2rem 0;
	font-weight: 600;
	font-size: 1.3rem;
}

#legalCopy {
	text-align: center;
	border-top: 1px solid black;
	width: 100%;
	padding: 0.2rem 0 0 0;
}

.fa-thumbs-up.fa-w-16{
    color: white;
}
