nav {
    background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    box-shadow: 0px 0px 14px -1px #000000;
    text-align: center;
    overflow: hidden;
    height: 3em;
    position: fixed;
    left: 0;
    right:0;
    top: 0;

  display: block;
  z-index: 9999;
  }

nav ul {
    overflow: hidden;
    position: relative;
    display: flex;
height: 100%;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
  
  }
  
nav li {
    list-style: none;
    font-family: helvetica;
    font-size: 1em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    color: white;
    overflow: hidden;
display: flex;
height: 80%;
  justify-content: center;
  align-items: center;
    margin: 0 1em 0 1em;
  }

nav li:hover {
    cursor: pointer;

  }
  nav li:not(#profileMenuToggle):not(#favoritesTogglor):hover {

    box-shadow: 0px 3px 0px 0px white;
  }
  

  footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;

    background-color: #045de9;
background-image: linear-gradient(135deg, #045de9 0%, #09c6f9 74%);
z-index:9999;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem 0 0.2rem 0;
    font-family: "Arial";
    box-shadow: 0px 0px 14px -1px #000000;
  }
