#profileMenu{
    position: fixed;
    height: 100vh;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Arial";
    right: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 0px 14px -1px #000000;
    background-color: #2a2a72;
    background-image: linear-gradient(180deg, #045de9 0%, #09c6f9 74%)
}
    
#profileMenuContainer{
    width: 90%;
    height:90%;
    position: relative;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#profilePictureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 10rem;
    color: white;
    width: 100%;
}

#passwordForgotten{
    width: 100%;
    text-align: right;
    margin: -0.75rem 0 1rem 0;
    font-size: 0.75rem;
}

#passwordForgotten:hover{
    cursor:pointer;
}

#signup{
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#signup:hover{
    cursor: pointer;
}

#reasonsWhy{
    margin: 2rem 0 0 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#loginContainer, #loggedinContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#loginContainer input{
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    box-shadow: 0px 0px 5px -2px black;
}
    
#login, #logoutButton, #signupCall, #signupButton{
    width: 70%;
    height: 3rem;
}

#loginErrors{
    width: 100%;
    height: 0%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
#welcomeUser{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
#optionsContainerDarkmode{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem 0 0 0;
}
    
#optionsContainerDarkmode label{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toggler{
	width: 4rem;
	height: 2rem;
	position: relative;
}

#check {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

#togglerBody{
	position: relative;
	height: 100%;
	width: 100%;
	background: grey;
	border-radius: 25px;
	transition: 0.5s;
}

#togglerSwitch{
	height: 80%;
	aspect-ratio: 1/1;
	background: white;
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Arial";
	color: red;
	transition: 0.5s;
}

#logoutButton{
    position: absolute;
    bottom: 1%;
}
