#sitaBox {
	display: none;
}

.intro {
	display: flex;
	width: 100%
}

.queryBar {
	display: grid;
	grid-template-columns: 80% 20%;
	width: 100%;
	grid-column-gap: 1vw;
}

.dissect {
	display: flex;
	margin: 1rem 0 1rem 0;
	text-transform: uppercase;
	font-family: monospace;
	font-weight: 900;
	font-size: 1rem;
	width: 100%;
    height: 50vh;
}