body {
	width: 99%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
section {
  margin-top: 3em;
  display: block;
  margin-bottom: 5em;
  width: 90%;
}

.title {
	  position: relative;
	  width: 100%;
	  display: flex;
}
input {
	position: relative;
	width: 100%;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: 0;
	font-size: 3em;
}



.sortBoxHome{
    width: 10%;
    font-family: "Arial";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sortBoxHomeTitle{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sortBoxHomeAZ,
.sortBoxHomeTyp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.sortBoxHomeAZ:hover,
.sortBoxHomeTyp:hover{
    cursor:pointer;
}

.container {
width: 100%;
display: flex;
justify-content: center;

flex-wrap: wrap;
}

#favoritesBar{
position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
   place-items: center ;
   grid-gap: 1%;
width: 100%;
box-shadow: 0px 1px 5px 0px silver, 0px -1px 5px 0px silver;
margin: 3rem 0 0 0;
padding: 1em;
min-height: 10em;
background-image: url("../Assets/pexels-pixabay-46160.jpg"),url("../Assets/pexels-pixabay-46160_low.jpg");
background-size: 100%, 100%;
background-position: center, center;

}




#favoritesMessage{
    position: absolute;

    text-align: center;
    font-family: "Arial";
    font-size: 1.3rem;
    font-variant: small-caps;
padding: 1rem;
background: rgba(0,0,0,0.5);
color: white;
border-radius: 25px;
}



#quickLinks {
position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
width: 100%;
  margin : 1rem 0 2rem 0;
height: 100%;
  grid-gap: 1em;
}


.quicklinksContainerBox {
			text-align: center;
		  box-shadow: 0px 1px 5px 0px silver, 0px -1px 5px 0px silver;
	font-family: arial;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    min-width: 12em;

}


.favoriteLinkFixedWidth{
    width: 10em;
    height: 10em;
    box-shadow: none;
}

.quicklinksContainerBox:hover{
cursor: pointer;
opacity: 0.8;
}
.quicklinksContainerBox:focus{
	box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.5);
}

.quicklinksContainerBox p{
	display: inline-block;
	bottom: 0;
	background-color: white;
	padding: 0.1em;
	width:95%;
	
}

.quicklinksContainerBox img{
	display: inline-block;
	padding: 10% 10% 2.5% 10%;
	margin: auto;
	width: 5em;
	height: 5em;
}

.veil{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
  
.modal{
  width: 50vw;

  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 0px black;
}

.modal p{
  width: 100%;
  font-family: "Arial";
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.inptWrapper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.modalInput{
  border: none;
  font-size: 1.5rem;
  outline: 2px solid blue;
  text-align: center;
  box-shadow: 0px 3px 5px 1px black;
}

.modalInput:focus{
  border: none;
  font-size: 1.5rem;
  outline: 2px solid blue;
  text-align: center;
  box-shadow: 0px 3px 5px 1px black;
}

.imgWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  margin: 0 0 2rem 0;
  box-shadow: 0px 3px 5px 1px black;
}

.fortheblind{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}

.okWrapper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
}
  
.ok{
  background: blue;
  color: white;
  font-size: 2rem;
  width: 10ch;
  height: 4ch;
  border: 0;
}

.ok:hover{
  cursor:pointer;
}


