body {
	width: 99%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
section {
  margin-top: 3em;
  display: block;
  margin-bottom: 5em;
  width: 90%;
}

.title {
	  position: relative;
	  width: 100%;
	  display: flex;
}
input {
	position: relative;
	width: 100%;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: 0;
	font-size: 3em;
}



.sortBoxHome{
    width: 10%;
    font-family: "Arial";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sortBoxHomeTitle{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sortBoxHomeAZ,
.sortBoxHomeTyp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.sortBoxHomeAZ:hover,
.sortBoxHomeTyp:hover{
    cursor:pointer;
}

.container {
width: 100%;
display: flex;
justify-content: center;

flex-wrap: wrap;
}
#favoritesBarFieldset{
width: 100%;
position: relative;
height: 12em;
margin: 3rem 0 1rem 0;
}
#favoritesBarFieldsetLegend{
position: absolute;
left: 1%;
top: 0;
border: 2px solid gold;
background: white;
font-size: 1.5rem;
z-index: 300;
}
#favoritesBar{
position: relative;
   display: flex;
   justify-content: flex-start;
   align-items. center;
width: 100%;
height: 100%;
grid-gap: 1em;
border: 2px solid gold;
}

#quickLinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
width: 100%;
  margin : 0 0 2rem 0;

  grid-gap: 1em;
}


.quicklinksContainerBox {
			text-align: center;
		  box-shadow: 0px 1px 5px 0px silver, 0px -1px 5px 0px silver;
	font-family: arial;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    min-width: 12em;

}




.quicklinksContainerBox:hover{
cursor: pointer;
opacity: 0.8;
}
.quicklinksContainerBox:focus{
	box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.5);
}

.quicklinksContainerBox p{
	display: inline-block;
	bottom: 0;
	background-color: white;
	padding: 0.1em;
	width:95%;
	
}

.quicklinksContainerBox img{
	display: inline-block;
	padding: 10% 10% 2.5% 10%;
	margin: auto;
	width: 5em;
	height: 5em;
}



